[user]
    name = faja
    email = mcabaj@gmail.com
[pull]
    ff = only
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[color "diff"]
	meta = white black bold
	new = cyan black bold
	old = red black bold

#[url "git@github.com:"]
#	insteadOf = https://github.com/
#[diff "sopsdiffer"]
#	textconv = sops -d
